<?xml version="1.0" encoding="UTF-8"?>
<!-- 
[OS03] Logger Configuration
author: fmthead@gmail.com
version: 1.0.0
-->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 콘솔 로그 -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<!-- 패턴 레이아웃 설정.. -->
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t> [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n" />
		</layout>
	</appender>

	<!-- 날짜별 로그 -->
	<appender name="dailyout" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- 이것은 날짜별로 로그를 남김. 파일명.확장자.DatePattern으로 정의 함 -->
		<param name="encoding" value="UTF-8" />
		<param name="file" value="/app/sv01/admin/logs/SV01_ADMIN_SVR01.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t> [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n" />
		</layout>
	</appender>

	<!-- 특정 크기마다 백업하며 로그 -->
	<appender name="rolling" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="file" value="rolling.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1kb" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%t> [%d{yyyy-MM-dd HH:mm:ss}] [%c{1}] [%L] [%p] %m %n" />
		</layout>
	</appender>

	<!-- xml 로그 -->
	<!-- xml형식으로 로그를 남김 -->
	<appender name="xmlout" class="org.apache.log4j.FileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="file" value="log4jxml.xml" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.xml.XMLLayout" />
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>